.git

.github

**/node_modules

**/storage

*.log

**/tmp
**/temp
**/*.tmp
**/.promptx

**/dist
**/build

**/.env
**/.env.example
**/.env.local
**/.env.*.local

**/coverage
**/*.spec.js
**/*.test.js

.vscode
.idea
*.swp

**/.DS_Store
**/Thumbs.db

**/storage
**/docs