.colorBtn {
    @apply w-6 h-6 rounded-full cursor-pointer hover:ring-2 hover:ring-gray-300 dark:ring-neutral-500 active:ring-slate-700 dark:active:ring-slate-300 transition
}

.selectedColor {
    @apply ring-2 ring-slate-700 dark:ring-slate-300
}

.removeBtn {
    @apply border-2 border-solid border-red-500 relative overflow-hidden;
}

.removeBtn::after {
    @apply bg-red-500 absolute;
    content: "";
    left: -1px;
    top: 10px;
    width: 25px;
    height: 2px;
    transform: rotateZ(45deg) scale(1);
}