.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.editorArea {
    height: calc(100vh - 186px);
    @apply flex-grow mt-4;
}

.editorArea > div {
    height: 100%;
}

.mdArea :global(img) {
    max-width: 100%;
    margin: auto;
    display: block;
}

.mdArea :global(table) {
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.mdArea :global(th) {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    min-width: 60px;
}

.mdArea :global(td) {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    min-width: 60px;
}