.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.editorArea {
  height: calc(100vh - 186px);
  @apply flex-grow mt-4;
}

.editorArea > div {
  height: 100%;
}

.settingDrawer :global(.ant-drawer-body) {
  padding: 0 !important;
}