html,
body {
  background-color: var(--rv-background-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --rv-font-size-md: 1rem !important;
  --rv-button-round-border-radius: 8px !important;
  --rv-uploader-size: 20.7vw !important;
}

::-webkit-scrollbar {
  display: none;
}

/* 黑夜模式的变量配置 */
:root[data-theme="dark"] {
  --rv-white: #1E293B;
  --rv-black: #9CA3AF;
  --rv-blue: #8589ff;
  --rv-gray-1: #0F172A;
  --rv-gray-2: #3C4A60;
  /* cell 分割线的颜色 */
  --rv-gray-3: #6D7A8F;
  --rv-gray-7: var(--rv-black);
  --rv-gray-8: var(--rv-black);
}

:root[data-theme="dark"] .rv-picker__mask {
  background-image:
    linear-gradient(180deg, hsl(217deg 33% 17% / 90%), hsl(217deg 33% 17% / 40%)),
    linear-gradient(0deg, hsl(217deg 33% 17% / 90%), hsl(217deg 33% 17% / 40%));
}

body, .rv-cell, .rv-card {
  transition: background-color .5s, color .5s, border-color .5s;
}